body{
 font-family: 'Roboto', sans-serif;

}

.height {
   min-height: 100vh;
   align-items: center;
}

.text-underline {
color: tomato;
height: 10px;
width: 200px;
margin: 0 auto;
}

.img-height {
   min-height: 80vh;
   align-items: center;
}

.text-height {
   min-height: 80vh;
   align-items: center;
}

.about-picture {
   background: url(../img/car3.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

#filler {
   background: linear-gradient(rgba(15, 15, 14, 0.589), rgb(128, 36, 0)), url(../img/projects-1.jpeg);
    background-size: cover;
     background-repeat: no-repeat;
      background-attachment: fixed;

}
