
body {

}
h1, h2 {
    color: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    color: aliceblue;
    
}
h1 {
    font-size: 40px;
    border-bottom: 3px solid green;
    border-style: double;
    width: 450px;
}

h2 {
    border-right: 3px solid green;
    width: 250px;

}


p {
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-text {
    border: 1px solid green;
}